body{
    background-color: black;
}

h1{
    font-size: 2.4em;
    text-align: center;
    color: rgb(252, 220, 181);
}
label{
    color: beige;
    font-size: 1.6em;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    font-size: 1.3em;
    background-color: antiquewhite;
    color: rgb(169, 140, 103);
    border: 1px solid beige;
    border-radius:3px;
}

.button:hover{
    background-color: rgb(169, 140, 103);
    color: antiquewhite;

}