body{
    background:linear-gradient(to bottom,lavender,rgb(254, 212, 244),rgb(250, 183, 235),rgb(253, 40, 217),rgb(255, 24, 163),rgb(161, 72, 158),rgb(151, 35, 122), rgb(132, 22, 89),rgb(94, 5, 60),rgb(61, 3, 39));
    height: 100vh;
}

h1{
    text-align: center;
    font-family: Helvetica, verdana, sans-serif;
    color: rgb(172, 2, 84);
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#unit{
    font: inherit;
    border-radius: 4px;
    background-color: rgb(255, 193, 214);
    color: maroon;
    font-size: 0.6em;
}
#weight{
    font: inherit;
    border-radius: 4px;
    background-color: rgb(255, 193, 214);    
    color: maroon;
    font-size: 1em;
}

#forms{
    font: inherit;
    padding: 30px;
    margin: 60px;
    background-color: rgba(132, 132, 241, 0.089);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgb(74, 1, 9);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-size:1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.3s;
}
#forms:hover , #result:hover{
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#result{
    font: inherit;
    padding: 30px;
    margin: 60px;
    background-color: rgba(132, 132, 241, 0.089);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgb(101, 242, 230);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size:1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.3s;
}
